<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wafer Fault Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<form action="/predict" method="post" enctype="multipart/form-data">
    <h1 class="title">Upload CSV for Prediction</h1>
    <div class="frame">
        <div class="center">
            <div class="title"><h1>Drop file to upload</h1></div>
            <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" class="upload-input" name="file" accept=".csv" required>
            </div>
            <button type="submit" class="btn" name="uploadbutton">Upload file</button>
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
